*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.addnewuser
{
    position:relative;
    background:rgb(253, 237, 237);
    height:100vh;
    width:100%;
}
.addnewuser p{
    text-align: center;
}
.addnewuser .Personaldetails
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.addnewuser .Personaldetails label
{
    color:black;
}
.addnewuser .Addresh
{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.addnewuser .adhar
{
    position:relative;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.addnewuser .submit
{
    position:relative;
    width:100%;
    
    
}
.addnewuser .submit button
{
   
    align-items: center;
    width:30%;
    margin-left:35%;
    background:rgb(179, 228, 179);
   
}